/*
Theme Name: Kuku trip theme project
Template: blocksy
Author: itai ben zeev
Description: Theme By Itai ben zeev for kukutrip website
Version: 1.0

*/

.no-botder{
	border:0px;
}
.ct-elementor-default-template .elementor-top-section:not(.ct-section-stretched):not(.elementor-sticky) {
  margin-left: var(--has-wide, auto);
  margin-right: var(--has-wide, auto);
  width: 100%;
  max-width: 100%;
}
.ct-footer a,.ct-footer h3{
	color:var(--selectionTextColor)
}
.ct-footer .ct-widget ul {
  
  --listStyleType: none;
  --content-spacing: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	 -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ct-footer #nav_menu-8 ul li{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
	background-color:#E39933;
	margin:8px;
	text-align:center;
	padding:10px 13px;
}
/*remove these h1 margin*/
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{
	margin-top: 0;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    background-color: transparent !important;
    color: #fff;
    margin-inline: 10px;
    font-size: 1.375rem;
}